<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Googles Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/contact.css">
</head>

<body>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 mt-5">
                    <div class="content-box">
                        <h4>CONTACT ME</h4>
                        <form action="" class="form-control">
                            <label for="">Name</label>
                            <input type="text" class="form-control" placeholder="First Name">
                            <input type="text" class="form-control" placeholder="Last Name">
                            <label for="">Email Address</label>
                            <input type="text" class="form-control" placeholder="Email Address">
                            <label for="">Subject</label>
                            <input type="text" class="form-control" placeholder="Subject">
                            <label for="">Message</label>
                            <textarea name="" id="" cols="100" maxlength="50" rows="50"></textarea>
                            <div class="submit">
                                <input id="btn-submit" type="submit" value="Submit" class="btn btn-sucess">
                            </div>
                        </form>
                        <div class="back">
                            <a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</body>

</html>