<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Googles Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="content-left">
                        <p>WEB DEVELOPER</p>
                        <h1 id="lastname" class="display-1">DANEV</h1>
                        <h1 class="display-1">NEMANJA</h1>
                        <button type="button" class="waves-effect waves-light btn-large light-green">CONTACT ME</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="content-right">
                        <img id="my-image" src="https://www.w3schools.com/w3images/avatar2.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
</body>

</html>