<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Googles Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section id="first-section">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="first-left">
                            <p>WEB DEVELOPER</p>
                            <h1 id="lastname" class="display-1">DANEV</h1>
                            <h1 class="display-1">NEMANJA</h1>
                            <a id="btn-contact" href="/contact" class="waves-effect waves-light btn-large">CONTACT ME</a>
                            <!-- light-green -->
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="first-right">
                            <img id="my-image" src="https://www.w3schools.com/w3images/avatar2.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="social-media">
                            <ul class="d-flex flex-row">
                                <li class="m-3">
                                    <a href="https://www.facebook.com/nemanja.danev" target="_blank">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="m-3">
                                    <a href="https://www.instagram.com/nemanjadanev/" target="_blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="m-3">
                                    <a href="https://www.linkedin.com/in/nemanja-danev-858b68163/" target="_blank">
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="m-3">
                                    <a href="https://github.com/ndanev" target="_blank">
                                        <i class="fa fa-github-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="second-section">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="second-left">
                            <h4>OBJECTIVE</h4>
                            <h5>
                                <i class="fa fa-bullseye" aria-hidden="true"></i> Describe your goals </h5>
                            <hr>
                            <p id="second-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus veniam eveniet consequatur atque
                                vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non fuga dolore
                                quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae
                                cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus
                                veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur
                                doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur
                                atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non fuga
                                dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae
                                cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus
                                veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur
                                doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur
                                atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="second-right">
                            <h4>SKILLS</h4>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height: 100%;">
                                    <h6>80% HTML</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%; height: 100%;">
                                    <h6>60% CSS</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height: 100%;">
                                    <h6>70% JAVASCRIPT</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%; height: 100%;">
                                    <h6>65% NODEJS</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height: 100%;">
                                    <h6>80% BOOTSTRAP</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%; height: 100%;">
                                    <h6>60% MONGODB</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height: 100%;">
                                    <h6>70% GIT</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%; height: 100%;">
                                    <h6>60% JQUERY</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="third-section">
        <div class="content-box">
            <div class="container">
                <h3 class="text-center mb-5">
                    <i class="fa fa-code mb-4" aria-hidden="true"></i>EXPERIENCE
                    <i class="fa fa-code" aria-hidden="true"></i>
                </h3>
                <div class="row">
                    <div class="col-md-9">
                        <div class="third-left">
                            <div id="experience-first">
                                <h5>Online Github User</h5>
                                <hr>
                                <p id="third-text-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus veniam eveniet consequatur
                                    atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non
                                    fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos,
                                    repudiandae cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime
                                    sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam
                                    rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam
                                    eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus
                                    qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque
                                    vitae dignissimos</p>
                            </div>
                            <div id="experience-second">
                                <h5>Online WebTech Project</h5>
                                <hr>
                                <p id="third-text-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus veniam eveniet consequatur
                                    atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non
                                    fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos,
                                    repudiandae cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime
                                    sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam
                                    rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam
                                    eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus
                                    qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque
                                    vitae dignissimos</p>
                            </div>
                            <div id="experience-third">
                                <h5>Portfolio</h5>
                                <hr>
                                <p id="third-text-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus veniam eveniet consequatur
                                    atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non
                                    fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos,
                                    repudiandae cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime
                                    sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam
                                    rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam
                                    eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus
                                    qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque
                                    vitae dignissimos</p>
                            </div>
                            <div id="experience-third">
                                <h5>YelpCamp Project</h5>
                                <hr>
                                <p id="third-text-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus veniam eveniet consequatur
                                    atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non
                                    fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos,
                                    repudiandae cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime
                                    sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam
                                    rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam
                                    eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus
                                    qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque
                                    vitae dignissimos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="third-right">
                            <div id="card" class="card text-white bg-info mb-3 mt-4" style="max-width: 18rem;">
                                <div class="card-header">Interest</div>
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                </div>
                            </div>
                            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                                <div class="card-header">Interest</div>
                                <div class="card-body">
                                    <h5 class="card-title">Warning card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                </div>
                            </div>
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                <div class="card-header">Interest</div>
                                <div class="card-body">
                                    <h5 class="card-title">Info card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                </div>
                            </div>
                            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header">Interest</div>
                                <div class="card-body">
                                    <h5 class="card-title">Info card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="fourth-section">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="education">
                            <h4>Education <i class="fa fa-graduation-cap" aria-hidden="true"></i></h4>
                            <div id="education-first">
                                <h5>University Of Singidunum</h5>
                                <p>
                                    <em>2012-2017</em>
                                </p>
                                <p></p>
                                
                            </div>
                            <div id="education-second">
                                <h5>Canada Collage</h5>
                                <p>
                                    <em>2017-2018</em>
                                </p>
                                <p></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div id="accomplishments">
                                    <h4>Certs <i class="fa fa-certificate" aria-hidden="true"></i></h4>
                                    <div id="accomplishment-first">
                                        <h5>MYOAx: Make Your Own App</h5>
                                        <p>
                                            <em>Sep 2018</em>
                                        </p>
                                        <a class="link-certificate" href="https://courses.edx.org/certificates/6eec2fc7191f4a2a9cc84c0534970193" target="_blank">See certificate</a>
                                        
                                    </div>
                                    <div id="accomplishment-second">
                                        <h5>HTML5.0x: HTML5 and CSS Fundamentals</h5>
                                        <p>
                                            <em>Feb 2018</em>
                                        </p>
                                        <a class="link-certificate" href="https://courses.edx.org/certificates/7ba3921bf6ad4c428b9fe8a8bb81c7f5" target="_blank">See certificate</a>
                                        
                                    </div>
                                    <div id="accomplishment-third">
                                        <h5>Learn to Program: The Fundamentals</h5>
                                        <p>
                                            <em>Jan 2018</em>
                                        </p>
                                        <a class="link-certificate" href="https://www.coursera.org/account/accomplishments/verify/G5MKYRZB868U" target="_blank">See certificate</a>
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-4">
                        <div id="contact">
                            <h4>Contact <i class="fa fa-phone-square" aria-hidden="true"></i></h4>
                            <div id="contact-text">
                                <h6>EMAIL: NEMANJA.DANEV.93@GMAIL.COM</h6>
                                <h6>PHONE: 069/445-74-94</h6>
                                <h6>CITY: BELGRADE</h6>
                                <div class="mt-4">
                                    <a id="btn-contact" href="/contact" class="waves-effect waves-light btn-large grey darken-4">CONTACT ME</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="last-section">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-last text-center">
                            <h3>THANK YOU!</h3>
                            <p><em>Powerd By Nemanja Danev</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <script src="/main.js"></script> -->
    <!-- first load jquery !IMPORTANT -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- link bootstrap javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>