<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.com/libraries/billboard.js">
    <!-- bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Googles Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section id="first-section">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="first-left">
                            <p>WEB DEVELOPER</p>
                            <h1 id="lastname" class="display-1">DANEV</h1>
                            <h1 class="display-1">NEMANJA</h1>
                            <button data-toggle="modal" data-target="#exampleModal" class="waves-effect waves-light btn-large light-green">CONTACT ME</button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="first-right">
                            <img id="my-image" src="https://www.w3schools.com/w3images/avatar2.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="second-section">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="second-left">
                            <h4>OBJECTIVE</h4>
                            <h5>Describe your goals</h5>
                            <hr>
                            <p id="second-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus veniam eveniet consequatur atque
                                vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non fuga dolore
                                quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae
                                cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus
                                veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur
                                doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur
                                atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non fuga
                                dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae
                                cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus
                                veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur
                                doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur
                                atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="second-right">
                            <h4>SKILLS</h4>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height: 100%;">
                                    <h6>80% HTML</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%; height: 100%;">
                                    <h6>60% CSS</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height: 100%;">
                                    <h6>70% JAVASCRIPT</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%; height: 100%;">
                                    <h6>65% NODEJS</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height: 100%;">
                                    <h6>80% BOOTSTRAP</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%; height: 100%;">
                                    <h6>60% MONGODB</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height: 100%;">
                                    <h6>70% GIT</h6>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%; height: 100%;">
                                    <h6>60% JQUERY</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="third-section">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="third-left">
                            <div id="experience-first">
                                <h4>EXPERIENCE</h4>
                                <h5>Online Github User</h5>
                                <hr>
                                <p id="third-text-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus veniam eveniet consequatur
                                    atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non
                                    fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos,
                                    repudiandae cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime
                                    sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam
                                    rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam
                                    eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus
                                    qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque
                                    vitae dignissimos</p>
                            </div>
                            <div id="experience-second">
                                <h5>Online WebTech Project</h5>
                                <hr>
                                <p id="third-text-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus veniam eveniet consequatur
                                    atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus qui animi non
                                    fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque vitae dignissimos,
                                    repudiandae cum quam rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime
                                    sequi. Minus veniam eveniet consequatur atque vitae dignissimos, repudiandae cum quam
                                    rerum aspernatur doloribus qui animi non fuga dolore quo nemo maxime sequi. Minus veniam
                                    eveniet consequatur atque vitae dignissimos, repudiandae cum quam rerum aspernatur doloribus
                                    qui animi non fuga dolore quo nemo maxime sequi. Minus veniam eveniet consequatur atque
                                    vitae dignissimos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="third-right">
                            <div id="card" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                <div class="card-header">Header</div>
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                </div>
                            </div>
                            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                                <div class="card-header">Header</div>
                                <div class="card-body">
                                    <h5 class="card-title">Warning card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                </div>
                            </div>
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                <div class="card-header">Header</div>
                                <div class="card-body">
                                    <h5 class="card-title">Info card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <script src="/main.js"></script> -->
    <!-- first load jquery !IMPORTANT -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- link bootstrap javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>