* {
    font-family: 'Nunito Sans', sans-serif;
}

.content-box {
    padding: 80px 0px;
    
}

i.fa {
    font-size: 50px;
}



/* FIRST SECTION */

#first-section {
    background-color: #c5c1c0;
    color: #000;
}
#my-image {
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

#lastname {
    line-height: 0;
}

.first-left {
    font-family: 'Abril Fatface', cursive;
    font-weight: 700;
}

h1 {
    color: #211F1F; 
    font-size: 10px;
}

.display-1 {
    font-size: 5rem;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
}

#btn-contact {
    font-size: 13px;
    box-shadow: none;
    text-decoration: none;
}

#btn-contact:hover {
    color: #ffffff;
}

.first-right {
    width: 100%;
}

#social-media {
    position: absolute;
    left: 0;
}
.fa-facebook-square:before {
    color: #3b5998;
}
.fa-instagram:before {
    color: #e95950;
}
.fa-linkedin-square:before {
    color: #0077b5;
}
.fa-github-square:before {
    color: #211F1F;
}
/* SECOND SECTION */

#second-section {
    background-color: #1a2930;
    color: #ffffff;
}

.progress {
    height: 40px;
}

#second-text {
    font-size: 16px;
}

.fa-bullseye:before {
    font-size: 20px;
}

/* THIRD SECTION*/
#third-section {
    background-color: #0a1612;
    color: #ffffff;
}

hr {
    background-color: #ffffff;
}

#third-text-1 {
    font-size: 16px;
}

#experience-first {
    margin-bottom: 40px;
}

#experience-second {
    margin-bottom: 40px;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    font-size: 50px;
}

.fa-code:before {
    margin: 10px;
}

/* FOURTH SECTION */
#fourth-section {
    background-color: #f7ce3e;
    color: #0a1612;
}

#education-first {
    margin-top: 40px;
}

.education-hr {
    background-color: #0a1612;
}


#accomplishment-first {
    margin-top: 40px;
}

.link-certificate {
    color: #0077b5;
}

#contact-text {
    margin-top: 40px;
}

/* LAST_SECTION */
#last-section {
    background-color: #1a2930;
    color: #ffffff;
}

.fa-phone-square:before {
    font-size: 30px;
}

.fa-certificate:before {
    font-size: 30px;
}

.fa-graduation-cap:before {
    font-size: 30px;
}