* {
    font-family: 'Nunito Sans', sans-serif;
}

.content-box {
    padding: 120px 0px;
    
}

i.fa {
    font-size: 50px;
}


/* ============== */
/* FIRST SECTION */
/* ============== */

#first-section {
    color: #000;
    min-height: 100vh; /* important */
    
}

#navbar {
    /* position: fixed; */
    margin: 0 auto;
    width: 33%;
    /* left: 33%; */
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
    margin-top: 10px;
    color: #26a69a;
    font-weight: 700;
}

.nav-link:hover {
    color: #1a2930;
}

#my-image {
    width: 100%;
    height: 450px;
}

#lastname {
    line-height: 0;
}

.first-left {
    font-family: 'Abril Fatface', cursive;
    font-weight: 700;
}

h1 {
    color: #1a2930;
    font-size: 10px;
    text-shadow: 1px 1px #ffffff;
}


.display-1 {
    font-size: 5rem;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
}

#btns {
    margin-top: 50px;
}

#btn-contact {
    font-size: 13px;
    box-shadow: none;
    text-decoration: none;
    border-radius: 50px;
}

#btn-find-out-more {
    font-size: 13px;
    box-shadow: none;
    text-decoration: none;
    border-radius: 50px;
}

#btn-find-out-more:hover {
    color: #ffffff;
    background-color: #1a2930; 
}

#btn-contact:hover {
    color: #ffffff;
    background-color: #1a2930;

}

.first-right {
    width: 100%;
}

#social-media {
    position: absolute;
    left: 0;
}
.fa-facebook-square:before {
    color: #3b5998;
}

.fa-instagram:before {
    color: #e95950;
}
.fa-linkedin-square:before {
    color: #0077b5;
}
.fa-github-square:before {
    color: #211F1F;
}

#arrow {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #26a69a;
    border-radius: 2px;
    position: absolute;
    right: 50%;
    bottom: 0;
    padding: 0;
}

#arrow:hover {
    background-color: #1a2930;
}


.fa-angle-double-down:before {
    font-size: 30px;
    color: #ffffff;

}



/* ============== */
/* SECOND SECTION */
/* ============== */

#second-section {
    background-color: #1a2930;
    color: #ffffff;
}



.progress {
    height: 40px;
}

#second-text {
    font-size: 16px;
}

.fa-bullseye:before {
    font-size: 20px;
    color: #dc3545;
}

/* ============== */
/* THIRD SECTION */
/* ============ */

#third-section {
    background-color: #0a1612;
    color: #ffffff;
}

hr {
    background-color: #ffffff;
}

#third-text-1 {
    font-size: 16px;
}

#experience-first {
    margin-bottom: 40px;
}

#experience-second {
    margin-bottom: 40px;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    font-size: 50px;
}

.fa-code:before {
    margin: 10px;
    font-size: 40px;
    color: #f7ce3e;
}

.fa-soundcloud:before {
    color: #ffffff;
}


.fa-futbol-o:before {
    font-size: 25px;
}

.fa-music:before {
    font-size: 25px;
}

.fa-gamepad:before {
    font-size: 25px;
}

.fa-film:before {
    font-size: 25px;
}

/* ==============  */
/* FOURTH SECTION */
/* ============== */

#fourth-section {
    background-color: #f7ce3e;
    color: #0a1612;
}

#education-first {
    margin-top: 40px;
}


#accomplishment-first {
    margin-top: 40px;
}

.link-certificate {
    color: #0077b5;
}

#contact-text {
    margin-top: 20px;
}

.fa-envelope:before {
    font-size: 25px;
}

.fa-building::before {
    font-size: 25px;
}

/* ============= */
/* LAST_SECTION */
/* ============*/

#last-section {
    background-color: #1a2930;
    color: #ffffff;
}

.fa-phone-square:before {
    font-size: 30px;
}

.fa-certificate:before {
    font-size: 30px;
}

.fa-graduation-cap:before {
    font-size: 30px;
}

.fa-calendar:before {
    font-size: 16px;
}

